body {
  background-image: url('bg.jpg');
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif; /* Adding a default font family */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}

.envelope-wrapper {
  height: 380px;
}

h3 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 70px;
  margin-top: 50px; /* Remove margin */
}

#envelope {
  position: relative;
  height: 480px;
  width: 580px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  margin: 10% auto; /* Adjusted margin to be centered vertically and horizontally */
  top: 0%;
  background-color: #ff6863;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#envelope:hover {
  cursor: pointer;
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  z-index: 3;
}

.flap {
  border-top: 240px solid #ff6863;
  border-left: 290px solid transparent;
  border-right: 290px solid transparent;
  border-bottom: 230px solid transparent;
  transform-origin: top;
}

.pocket {
  border-left: 290px solid #ff8ba0;
  border-right: 290px solid #ff8ba0;
  border-bottom: 290px solid #ffa8b5;
  border-top: 240px solid transparent;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.letter {
  position: relative;
  background-color: white;
  width: 90%;
  height: 85%;
  top: 5%;
  border-radius: 10px;
  box-shadow: 0 2px 26px rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
}

.letter:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.words {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 14%;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.line1 {
  top: 10%;
}
.line2 {
  top: 20%;
  text-align: justify;
}
.line3 {
  top: 35%;
  text-align: justify;
}
.line4 {
  top: 50%;
  text-align: justify;
}
.line5 {
  top: 65%;
}
.line6 {
  top: 70%;
}

.open .flap {
  transform: rotatex(180deg);
  transition: transform 0.4s ease, z-index 0.6s;
  z-index: 1;
}

.close .flap {
  transform: rotatex(0deg);
  transition: transform 0.4s 0.6s ease, z-index 1s;
  z-index: 5;
}

.open .letter {
  transform: translateY(-70%);
  transition: transform 0.4s 0.6s ease, z-index 0.6s;
  z-index: 2;
}

.close .letter {
  transform: translatey(0deg);
  transition: transform 0.4s ease, z-index 1s;
  z-index: 1;
}

.hearts {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  z-index: 2;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 10%;
}

.heart:before,
.heart:after {
  position: absolute;
  content: '';
  background: #d00000;
  width: 50px;
  height: 80px;
  left: 50px;
  top: 0;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

.close .heart {
  opacity: 0;
  animation: none;
}

.a1 {
  left: 20%;
  transform: scale(0.6);
  opacity: 1;
  animation: slideUp 4s linear 1, sideSway 2s ease-in-out 4 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}
.a2 {
  left: 55%;
  transform: scale(1);
  opacity: 1;
  animation: slideUp 5s linear 1, sideSway 4s ease-in-out 2 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}
.a3 {
  left: 10%;
  transform: scale(0.8);
  opacity: 1;
  animation: slideUp 7s linear 1, sideSway 2s ease-in-out 6 alternate;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
}

@keyframes slideUp {
  0% {
    top: 0;
  }
  100% {
    top: -600px;
  }
}

@keyframes sideSway {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

.valentine {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(20, 20, 20);
  font-size: 70px;
  margin: 150px;
}
